/* This is the code for the green box that surrounds all of the styling boxes
in the center of the browser window. */
.dashbox{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background: #00ffab;
  height: 90vh;
  width: 90vw;
}

/* This is the code for the top portion that has the buttons to go to the other
webpages */
.dashbuttonholder{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 90%;
  background: tomato;
  position: fixed;
  left: 50%;
  top: 1%;
  transform:  translate(-50%, -1%);
}

/* this is the individual code for each of the buttons on the dash button holder */
.dashbuttons{
  height: 90%;
  width: 10%;
}


/* This is the code for the box that contains the rest of the content below the
dash buttons */
#dashmain{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  position: fixed;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
  background: yellow;
  width: 90%;
  height: 85%;
}

.challengelists{
  width: 20%;
  height: 95%;
  background: red;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#bygenre{

}

#byartist{

}

#bypopular{

}

#bypersonallyassigned{

}
