body {
  background-color: #E8E8E8 !important;
  /* background-image: url('../images/singing.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#microphoneimg {
  margin-top: 10px;
  text-align: center;
}

#hint_display {
  margin-top: 0;
  background: yellow;
  font-size: 20px;
}

.questionbox {
  position: fixed;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -70%);
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid green;
}

.timebox {
  margin-left: 60%;
  text-align: center;
  margin-top: 475px;
  height: 150px;
  width: 150px;
  background: white;
  border-radius: 50% !important;
  text-align: center;
  color: #4d4e4f !important;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 80px;
  margin-top: 150px;
  height: 300px;
  width: 350px;
  /* background: orange; */
  /* background: white; */
  border-radius: 25%;
}

.optiontexts {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 30px;
  color: #4d4e4f;
}

.optiontexts:hover {
  opacity: 0.7;
}

.hintbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  font-family: 'Open Sans Condensed', sans-serif !important;
  margin-top: 40px;
  margin-left: 220px;
  background: white;
  border-radius: 5%;
}

#timeleft {
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 100px;
}

.blinking {
  animation: blinkingText 0.8s infinite;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }

  49% {
    color: transparent;
  }

  50% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: #000;
  }
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif !important;
  color: #4d4e4f !important;
  text-align: center;
  margin-top: 10px !important;
}

.optionsdiv {
  margin-top: 10px;
}

.optionsdiv:hover {
  cursor: pointer;
}

.optionsrow {
  background: white;
  width: 300px;
  border-radius: 5%;
}

#hint_button {
  font-size: 20px;
  background: white;
  border: white;
}

#hint_button:hover {
  opacity: 0.7;
  cursor: pointer;
}
