.createinputs{
  width: 400px;
  height: 50px;
}

.inputtext{
  text-align: center;
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #88B0C2;
  margin-top: 20px;
}

.options{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color: #88B0C2;
  margin-top: 20px;
  display: inline;
}

.optionsinputbox{
margin-top: 10px !important;
}

.genrebox{
background-color: white !important;
margin-bottom: 20px;
}
#elaboxnav{
  width: 95%;
  height: 10%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#hintname{
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #88B0C2;
}
#hint{
  height: 30px;
  width: 400px;
}

#listofchallenges{
  width: 95%;
  height: 70%;
  background: blue;
}

 #dropboxforfriends{
  width: 95%;
  height: 10%;
  background: blue;
}

#genre{
  height: 40px;
  text-align: center;
  width: 400px;
}
option{

  background-color: white !important;

}
#createbox{
  border-radius: 15%;
  margin-top: 80px;
  background: #fefff9ff;
  /* background-color: white; */
  height: 1000px;
  border: 1px solid yellow;


}

#createchallengebutton
{
  width: 70px;
  border-color: rgb(166, 166, 166);
  background-color: rgb(248, 248, 248);
  border-radius: 20%;
  width: 100px;
  padding-left: 20%;
}

#createchallengerow{
text-align: center;
}

#createchallengeheader{
  text-align: center;
  margin-left: 35px;
  font-family: 'Pacifico', cursive;

  font-size: 35px;
  color: #88B0C2;
  margin-top: 50px;
}
section{
  float: left;
  width: 75%;
}

aside{
  float: right;
  width: 25%;
  margin-top: 80px;
  padding-right: 50px;
}

.listofchallenges{
  border: 1px solid yellow;
  border-radius: 15%;
  margin-top: 25%;
  background: #fefff9ff;
  /* background-color: white; */
  height: 500px;
}

.listofchallengescol1{
  text-align: center;
  margin-bottom: 10px;
  width:50%;
}

.listofchallengescol2{
  margin-bottom: 10px;
  text-align: left;

}

#editbutton{
  text-align: center;
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #88B0C2;
  /* margin-top: 20px; */
  /* width: 50%; */
  margin-left: 100px;
  background-color: white;
  border-color: white;
}

#assignbutton{
  text-align: center;
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #88B0C2;
  /* margin-top: 20px; */
  width: 50%;
  background-color: white;
  border-color: white;
}

.listofchallengestitl{
  width: 500px;
  height: 70px;
  margin-top: 10px;
  text-align: center!important;
  font-family: 'Pacifico', cursive !important;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-size: 20px;
  color: #88B0C2;
}

#indivualchallenges{
  width: 500px;
  height: 350px;
    color: #88B0C2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nodebuddyholder{
  /* border-color: rgb(166, 166, 166) !important; */
  border-color:#d7dce3 !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 20px;
  border: 1px solid;
  width: 300px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nodebuddy{
  color: white;
  font-size: 20px;

}
