
body{
/* background: #d5c4b3ff !important; */
background-color: #eec09f !important;
}
#logo{
  margin-left: 20px;
/* height:70px; */
margin-top: 10px;
font-size: 40px;
font-family: 'Open Sans Condensed', sans-serif !important;
color: #88B0C2;

}

#navcolor
{
  background: #fefff9ff !important;
  /* background-color: #d7dce3 !important; */
  /* background-color: white !important; */
  height: 80px;
}
#dropdrown
{
  color: black !important;
  background: #fefff9ff !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

#profilepic
{margin-top: 20px !important;
  width:180px !important;
  border-radius: 20% !important;
  height:180px !important;
}
/* this is the individual code for each of the buttons on the dash button holder */
.SignOut{
 width: 100px;
 background: #fefff9ff;
 border: 1px solid  #fefff9ff;

}
.createbutton{
  /* font-family: 'Open Sans Condensed', sans-serif; */
  /* font-family: 'Mali', cursive !important; */
  /* font-family: 'Pacifico', cursive; */
  height:65px !important;
  width: 65px !important;
  margin-top: 0px !important;
  margin-bottom: 15px!important;
  font-size: 35px !important;
  color: #113F60 !important;
  text-align: center !important;
  margin-left: 200px !important;

}
.playbutton{
  height:70px !important;
  width: 70px !important;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'Pacifico', cursive;
  font-size: 35px !important;
  color: #113F60 !important;
  margin-top: 5px !important;
  margin-left: 280px !important;
}

#aboutus
{
  /* font-family: 'Pacifico', cursive; */
  font-size: 8px;
  margin-left: 550px;
  /* color: #88B0C2; */
  text-align: center
}

/* This is the box that holds the quick play field and the quick make field
to make a challenge auto generatively. */
#quickplaymake{
  width: 60%;
  height: 90%;
  background: orange;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* this is the code that applies to both the quick make and
the quick play fields */
.quickpm{
  width: 90%;
  height: 47%;
}

/* This is the code for the quick make box */
#quickmake{
  background: green;
}

/* this is the code for the actual field where a user would put the url
and auto generate a challenge */
#quickmakefield{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* a generic class to apply to all of the inputs in the field. this is temporary */
.inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* this is the code for the quick play box */
#quickplay{
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* a generic placeholder class for the play items */
.quickplayitem{
  width: 95%;
  height: 17%;
  background: purple;
}

/* this is the code for the box that contains the quick statistics */
#quickstats{
  width: 35%;
  height: 90%;
  background: red;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* a generic statistics class for the global and personal statistics */
.statistics{
  /* width: 95%;
  height: 45%;
  background: teal; */
  margin-top: 10px;
  display: flex;
  border-color:#d7dce3 !important;
  border: 1px solid;
  height: 60px;
  border-radius: 5%;
  background-color: white;
}

.individualstatsheader{
  /* color: #88B0C2 !important; */
  font-family: 'Open Sans Condensed', sans-serif !important;
  text-align: center;
  font-size: 20px;
  margin-left: 70px;
  margin-top: 15px;
  color: #4d4e4f !important;

}

.statisticssection{
  width: 400px;
  margin-left: 45px;
  border-radius: 10%;
  background-color: #fefff9ff;
  height: 800px;
  margin-top: 20px;
  border: 1px solid yellow;

}

#statisticsheader{
  /* font-family: 'Open Sans Condensed', sans-serif !important; */
  color: #88B0C2 !important;
  font-size: 40px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin-top: 10px;
  margin-bottom: 0;

}
.statisticspic{
  margin-left:10px;
  border-radius: 25%;
  height:60px;
  width:60px;
}
#friendstatheader{
  margin-top: 10px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 20px;
  color: #88B0C2 !important;

}

#challengesheader{
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 40px;
  margin-top: 30px;
  text-align: center;
  color: #4d4e4f;

}
.statisticsbox{
  margin-left: 10px;
  margin-right: 10px;
  height: 275px;
  overflow: scroll;
}

.quickchallengesbox{
  margin-top: 80px;
  margin-left: 175px;
  height: 600px;
  width: 600px;
  /* background-image: url("../images/sound-barscp.png"); */
  background-repeat: no-repeat;
  /* border: 1px solid green; */
}

.quickcreatebox{
  margin-top: 175px;
  /* margin-left: 5px; */
  margin-right: 20px;
  background-color: #fefff9ff;
  border-radius: 15%;
  height: 600px;
  width: 350px;
  border: 1px solid yellow;
}

#quickchallengeheader{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: center;
  color: #88B0C2;
  margin-top: 10px;
}

.quickchallenge{
  width: 450px;
  margin-top: 20px;
  background-color: #fefff9ff;
  height: 75px;
  border-radius: 5%;
  /* border-color:#d7dce3 !important;
  border: 1px solid; */
  border:1px solid yellow;
}

.createinputs2{
  text-align: center;
  margin-left: 70px;
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 250px;
  height: 30px;
}

.inputtext2{
  text-align: center;
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #88B0C2;
  margin-top: 15px;
  margin-left: 60px;
}

.genrebox{
/* background-color: white !important; */
margin-bottom: 20px;
}

#genre{
  height: 40px;
  text-align: center;
  width: 250px;
  margin-bottom: 10px;
}
