
body{
/* background: #d5c4b3ff !important; */
background-color: #eec09f !important;
}
#logo{
  margin-left: 20px;
height:70px;
}

#navcolor
{
  background: #fefff9ff !important;
  /* background-color: #d7dce3 !important; */
  /* background-color: white !important; */
  height: 80px;
}
#dropdrown
{
  background: #fefff9ff !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

#profilepic
{margin-top: 20px !important;
  width:180px !important;
  border-radius: 20% !important;
  height:180px !important;
}
/* this is the individual code for each of the buttons on the dash button holder */
.SignOut{
 width: 100px;
 background: #fefff9ff;
 border: 1px solid  #fefff9ff;

}
.createbutton{
  /* font-family: 'Open Sans Condensed', sans-serif; */
  /* font-family: 'Mali', cursive !important; */
  /* font-family: 'Pacifico', cursive; */
  height:65px !important;
  width: 65px !important;
  margin-top: 0px !important;
  margin-bottom: 15px!important;
  font-size: 35px !important;
  color: #113F60 !important;
  text-align: center !important;
  margin-left: 270px !important;

}
.playbutton{
  height:70px;
  width: 70px;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'Pacifico', cursive;
  font-size: 35px !important;
  color: #113F60 !important;
  margin-top: 5px !important;
  margin-left: 200px !important;
}

#aboutus
{
  /* font-family: 'Pacifico', cursive; */
  font-size: 8px;
  margin-left: 550px;
  /* color: #88B0C2; */
  text-align: center
}

/* This is the box that holds the quick play field and the quick make field
to make a challenge auto generatively. */
#quickplaymake{
  width: 60%;
  height: 90%;
  background: orange;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* this is the code that applies to both the quick make and
the quick play fields */
.quickpm{
  width: 90%;
  height: 47%;
}

/* This is the code for the quick make box */
#quickmake{
  background: green;
}

/* this is the code for the actual field where a user would put the url
and auto generate a challenge */
#quickmakefield{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* a generic class to apply to all of the inputs in the field. this is temporary */
.inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* this is the code for the quick play box */
#quickplay{
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* a generic placeholder class for the play items */
.quickplayitem{
  width: 95%;
  height: 17%;
  background: purple;
}

/* this is the code for the box that contains the quick statistics */
#quickstats{
  width: 35%;
  height: 90%;
  background: red;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* a generic statistics class for the global and personal statistics */
.statistics{
  width: 95%;
  height: 45%;
  background: teal;
}
