.leftsidebox1{
  margin-top: 20px;
  margin-left: 200px;
  width: 500px;
  height: 400px;
  border-radius: 25%;
  background: #fefff9ff;
  text-align: center;
}

.leftsidebox2{
  margin-top: 20px;
  margin-left: 200px;
  width: 500px;
  height: 400px;
  border-radius: 25%;
  background: #fefff9ff;
  text-align: center;
}

.rightsidebox1{
  margin-top: 20px;
  margin-right: 200px;
  width: 500px;
  height: 400px;
  border-radius: 25%;
  background: #fefff9ff;
  text-align: center;

}

.rightsidebox2{
  margin-top: 20px;
  margin-right: 200px;
  width: 500px;
  height: 400px;
  border-radius: 25%;
  background: #fefff9ff;
  text-align: center;

}
#bygenre{

}

#byartist{

}

#bypopular{

}

#bypersonallyassigned{

}

section{
  float: left;
}

aside{
  float: right;

}

.categorytext
{
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 50px;
color: #88B0C2;
}
