#friendUsername{
  margin-top: 3px;
  display: none;
  text-align: center;
  margin-left: 185px;
  font-size: 20px;
}

#addfriendsubmit{
  margin-top: 8px;
  display: none;
  text-align: center;
  margin-left: 235px;
  background: #fefff9ff;
  margin-bottom: 10px;

}
#addfriendsubmit:hover{
  opacity: 0.5;
}
#addfriendsbut{
  background: #fefff9ff;
  border: #fefff9ff;
  font-size: 20px;
  color: #88B0C2;
  text-align: center;

}

.addfriendsection{
  /* border: 1px solid black; */
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 90px;
}
#listoffriends{
  text-align: center;
  margin-left: 30px;
  margin-top: 25px;
  overflow: scroll !important;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; */
  width: 450px;
  height:200px;
  /* border:1px solid blue; */
}

.friendscol{
  margin-top: 20px;
  height:900px;
  border-radius: 15%;
  background: #fefff9ff;
  border: 1px solid yellow;
}

#friendsearch{
  margin-top: 10px;
  text-align: center;
  margin-left: px;
  width: 300px;
  font-family: 'Open Sans Condensed', sans-serif;
}

::placeholder
{
  text-align: center;
  color: lightgray;
  letter-spacing:2px;
}

#friendsheader{
  color: #88B0C2;

  margin-top: 25px;
  text-align: center;
font-size: 40px;
font-family: 'Pacifico', cursive;

}


.addfriends{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 5%;
}




#mygroups{
  margin-left: 15px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 450px;
  height: 20%;
}

.mygroupsitem{
  width: 95%;
  height: 20%;
}

#invitetogroup{
  margin-left: 25px;
  width: 95%;
  height: 30%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}

.invitetogroupsection{
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; */
  display: none;
}

#creategroup{
  width: 95%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#myForm{
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  display:flex;
  justify-content: center !important;
  align-items: center !important;
  display:none;

}

.creategroupcontent{
  position: fixed;
  top:50%;
  left: 50%;
  transform:  translate(-50%, -50%);
  border-radius: 5%;
  position: relative;
  width: 500px;
  height: 500px;
  background-color: white;
  text-align: center;
}

#creategroupbut{
  margin-left: 220px;
  text-align: center;
  background: #fefff9ff !important;
  border: #fefff9ff !important;
  background: #fefff9ff !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 20px;
  color: #88B0C2;


}
#closeFormbut{
  border: 1px solid gray;
  margin-top: 10px;
  margin-left: 80%;
  background: white;
  border: white;
  height: 50px;
  width: 50px;
}
#closeForm{
  border: 1px solid white;
  height: 50px;
  width: 50px;
}


#invitebut{
  margin-top: 10px;
  margin-left: 195px;
  margin-bottom: 20px;
  text-align: center;
  background: #fefff9ff;
  border: #fefff9ff;
  background: #fefff9ff;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 20px;
  color: #88B0C2;

}

#invitesubmit{
  margin-left: 5px;
  text-align: center;
  background: #fefff9ff;
  background: #fefff9ff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  display: none;
  color: #88B0C2;

}
#findfriend{
  display: none;
}

#groupsearch{
  display: none;
}
.friendview{
  margin-top: 5px !important;
  margin-left: 15%;
  border-color:#d7dce3 !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 20px;
  height: 200px;
  border: 1px solid;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.mygroupsitem{
  margin-top: 5px !important;
  margin-left: 15%;
  border-color:#d7dce3 !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 20px;
  border: 1px solid;
  height: 200px;
  width: 350px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#groupsheading{
  text-align: center;
  margin-top: 10px;
font-size: 40px;
font-family: 'Pacifico', cursive;
color: #88B0C2;
margin-bottom: 20px;

}

#popupheading{
  font-family: 'Open Sans Condensed', sans-serif !important;
  height: 50px;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #88B0C2;

}

#nameofgroup{
  font-family: 'Open Sans Condensed', sans-serif !important;
  margin-top: 10px;
  width: 300px;
  margin-bottom: 10px;
  height: 40px;
  text-align: center;
  font-size: 25;
}

#createcbutton
{
  width: 100px;
  border-color: #fefff9ff !important;
  background-color: #fefff9ff !important;
  /* margin-left: %; */
  font-family: 'Pacifico', cursive !important;
  font-size: 30px;
  color: #88B0C2;
}
#createcbutton:hover{
  opacity: 0.7;
}
.Descriptioninput{
  border-color:#d7dce3 !important;
}

.contactName{
  margin-top: 10px;
}

.friendview{
  overflow: scroll !important;
  height: 60px !important;
}

.deleteButton{
  background-color: white;
  border-color: white;
  font-size: 20px;
  color: #88B0C2;
  text-align: center;
}

.groupName{
  font-size:25px;
  margin-top: 10px;
}
