body {
  background: url("../images/albums.jpeg") no-repeat;
  background-size: cover;
}

body::after
{
  opacity: 0.5;
}
.border
{
border:1px solid black;
}
#middlesection
{
  height: 500px;
  margin-top: 80px;
}

#login{
/* border-radius: 50%; */
background:#efefefff;
border: #efefefff;

}
#logosize
{
text-align: right;
margin-top:17px;
margin-right: 90px

}
#logo{
height:110px;
}

#arch
{
  margin-left: 40px;
  margin-right: 0;
}

#signUp
{
  padding-top: 10px;
  height: 60px;
  border:1px solid black;
  background: #ffffffff;
  text-align:center;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}

#logIn
{
  padding-top: 10px;
  font-family: 'Pacifico', cursive;
  height: 60px;
  border:1px solid black;
  background: #b7b7b7ff;
  text-align:center;
  font-size: 25px;

}
#loginusername
{
  padding: 0;
  width:inherit;
  border:1px solid #999999;
  background: #ffffffff;
  height: 45px;
  text-align: center;
}

#loginpassword
{
  padding: 0;
  width:inherit;
  border:1px solid #999999;
  background: #ffffffff;
  height: 45px;
  text-align: center;
}

#signupemail
{
  padding: 0;
  width:inherit;
  border:1px solid #999999;
  background: #ffffffff;
  height: 45px;
  text-align: center;
}

#signuppassword
{
  padding: 0;
  width:inherit;
  border:1px solid #999999;
  background: #ffffffff;
  height: 45px;
  text-align: center;
}
#username
{
  padding: 0;
  width:inherit;
  border:1px solid #999999;
  background: #ffffffff;
  height: 45px;
  text-align: center;
}
#tabs
{
width:inherit;
border: 1px solid #999999;
height: 57px;
background: lightgray;

}
#submit{
  border: 1px solid #999999;
  width: inherit;
  padding-top: 10px;
  background: #93c47dff;
  height: 50px;
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  text-align:center;
}
.socialsize
{
  height:45px;
  width:45px;
}
::placeholder
{
  text-align: center;
  letter-spacing:3px;
}
.nav-item {
  width: 50%;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}
.input-field {
  margin-bottom: 5%;
}
